.accueil-section_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    .container_1{
        width: 100%;
        ol{
            padding: 20px;
            list-style-type: none;
            counter-reset: list;
            li{
                position: relative;
                z-index: 1;
                border-radius: 15px;
                width: 95%;
                padding: 20px 15px;
                margin: 15px 0;
                background-color: $color-quart;
                counter-increment: list;
                &::before{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: -10px;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    padding: 5px;
                    content: counter(list);
                    color: white;
                    background-color: $color-primary;
                }
                i{
                    margin: 0 15px;
                    color: darken($color: $color-quart, $amount: 40%);
                }
                &:hover{
                    &::after {
                        opacity: 1;
                    }
                }
                &::after {
                    position: absolute;
                    z-index: -1;
                    border-radius: 15px;
                    content:"";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: lighten($color: $color-primary, $amount: 30);
                    opacity: 0;
                    transition: opacity 250ms;
                }
            }
        }
    }
}


.accueil-section_2{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    .container_2{
        background-color: $color-quart;
        padding: 20px;
        width: 100%;
        article{
            position: relative;
            border: 1px solid black;
            background-color: white;
            width: 100%;
            height: 220px;
            border-radius: 10px;
            margin-bottom: 20px;
            img{
                border-radius:10px 10px 0 0;
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
            .new{
                position: absolute;
                color: darken($color-third, 50%);
                background-color: $color-third;
                width: 70px;
                padding: 5px;
                top: 10px;
                right: 10px;
            }
            .contenu{
                display: flex;
                justify-content: space-between;
                .text{
                    h3{
                        margin: 5px;
                    }
                    p{
                        margin: 5px;
                    }
                }
                .heart{
                    @include heart
                }
            }   
        }
    }
}

.menu_section{
    background-color: $color-quart;
    padding: 20px;
    h3{
        border-bottom: 5px solid $color-third;
        width: 15%;
    }
    article{
        position: relative;
        background-color: white;
        overflow: hidden;
        margin: 20px 0;
        padding: 10px;
        border-radius: 15px;
        &:hover .logo{
            transform: translate(0px); 
            & i{
                transform: rotate(0deg);
            } 
        }
        h4{
            margin: 0;
        }
        div{
            display: flex;
            justify-content: space-between;
            margin: 0;
        }
        .logo{
            display:flex;
            position:absolute;
            font-size:30px;
            width:70px;
            top:0;
            bottom:0;
            right:0;
            color:white;
            background-color:$color-third;
            justify-content:center;
            align-items:center;
            transform: translate(500px);
            transition: transform 800ms ease-in-out;
            i {
                transform: rotate(-500deg);
                transition: transform 700ms 100ms ease-in;
            }
        }  
    }
}
