.accueil-section_1{
    padding: 20px;
    .container_1{
        ol{
            padding: 10px 0 10px 10px;
            list-style-type: none;
            counter-reset: list;
            li{
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                z-index: 1;
                border-radius: 25px;
                padding: 15px;
                margin: 25px 0;
                background-color: $color-quart;
                box-shadow: $box-shadow;
                counter-increment: list;
                &::before{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: -10px;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    padding: 5px;
                    content: counter(list);
                    color: white;
                    background-color: $color-primary;
                }
                .menu_icons{
                    display:inline-block;
                    position:relative;
                    margin: 0 15px;
                    .top{
                        color: darken($color: $color-quart, $amount: 40%);
                    }
                    .bottom{
                        position:absolute;
                        color: $color-primary;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        opacity:0;
                    }
                }
                &:active{
                    &::after {
                        opacity: 1;
                    }
                    .bottom{
                        opacity: 1;
                    }
                }
                &::after {
                    position: absolute;
                    z-index: -1;
                    border-radius: 25px;
                    content:"";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: lighten($color: $color-primary, $amount: 30);
                    opacity: 0;
                    transition: opacity 200ms;
                }
            }
        }
    }
}

.accueil-section_2{ 
    .container_2{
        display: flex;
        flex-direction: column;
        background-color: $color-quart;
        padding: 20px;
        article{
            position: relative;
            background-color: white;
            width: 100%;
            height: 220px;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: $box-shadow;
            img{
                border-radius:10px 10px 0 0;
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
            .new{
                position: absolute;
                color: darken($color-third, 50%);
                background-color: $color-third;
                width: 70px;
                padding: 5px;
                top: 10px;
                right: 10px;
            }
            .contenu{
                display: flex;
                justify-content: space-between;
                .text{
                    h3{
                        margin: 5px;
                    }
                    p{
                        margin: 5px;
                    }
                }
                .heart{
                    @include heart;
                    margin-right: 10px;
                }
            }   
        }
    }
}

.menu_section{
    background-color: $color-quart;
    padding: 20px;
    h3{
        border-bottom: 5px solid $color-third;
        width: 15%;
    }
    .card{
        position: relative;
        display: flex;
        cursor: pointer;
        overflow:hidden;
        margin: 20px 0;
        border-radius: 15px;
        box-shadow: $box-shadow;
        animation: card 700ms 300ms both ease-in-out;
        @for $i from 1 through 10 {
            &--#{$i} {
                animation-delay: 100ms * $i;
            }
        }
        &:active{ 
            .text{
                animation-play-state: running;
            }
            .coulissant{
                animation-play-state: running;
                & .logo i{
                    animation-play-state: running;
                } 
            }
        }
        background-color: white;
        .text{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            animation: padding 170ms 30ms both paused ease-in-out;
            h4{
                margin:15px;
                margin-bottom: 5px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            p{
                margin:15px;
                margin-top: 5px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .coulissant{
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            right: 0;
            animation: translate 170ms 30ms both paused ease-in-out;
            .prix{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                padding: 15px;
            }
            .logo{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                width: 70px;
                background-color: $color-third;
                i {
                    background-color: white;
                    color: $color-third;
                    border-radius: 50%;
                    animation: rotate 170ms 30ms both paused ease-in-out;
                }
            }
        }
    }
    
    .button{
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
    }
}
