.loding{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 200px;
    z-index: 2;
    background-color: $color-quart;
    animation: loding_stop 200ms 1800ms forwards;
    i{
        animation: loding_icon_stop 1000ms infinite;
    }
}

@keyframes loding_stop{
    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(0);
    }
}
@keyframes loding_icon_stop{
    0%{
        color: $color-secondary;
        transform: rotate(0deg);
    }
    100%{
        color: $color-third;
        transform: rotate(360deg);
    }
}
@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes translate{
    0%{
        transform: translateX(70px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes padding{
    0%{
        padding-right: 30px;
    }
    100%{
        padding-right: 100px;
    }
}
@keyframes rotate{
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes card{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}