@mixin heart {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 20px;
    font-size:30px;
    #plein{
        color:red;
        position:absolute;
        opacity:0; 
        transition: opacity, 600ms;
        &:hover{
            opacity:1;
        }
    }
    #vide{
        
    }
}